:root {
  --main-color: #203040;
  --gold-color: #f0c040;
  --grey-color: #a4a4a4;
  --red-color: #f02020;
  --orange-color: #f08000;
  --dark-grey-color: #404040;
  --success-color: #20a020;
  --danger-color: #a02020;
  --info-color: #2020a0;
  --success-background-color: #a5fdac;
  --info-background-color: #e0e0ff;
  --danger-background-color: #fcd1d1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--main-color);
}

main {
  grid-area: main;
  padding: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

footer {
  grid-area: footer;
  background-color: var(--main-color);
  color: #ffffff;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--gold-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--grey-color) solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
  min-height: 40px;
}

button:disabled {
  cursor: not-allowed;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem var(--dark-grey-color) solid;
}

button:disabled {
  border: none;
  cursor: not-allowed;
}

button.primary {
  background-color: var(--gold-color);
}

button.block {
  width: 100%;
}

/* Header */

header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  background-color: var(--red-color);
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
  display: flex;
  justify-content: center;
}

.col-2 > ul {
  width: 100%;
}

.min-30 {
  min-width: 30rem;
}

.description {
  padding-left: 2rem;
}

/* Image */

img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

img.small {
  max-width: 5rem;
}

img.medium {
  max-width: 29rem;
}

img.large {
  max-width: 40rem;
}

/* Card */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-product {
  transition: all 0.05s ease-in;
}

.card-product:hover {
  box-shadow: 1px 1px 4px 2px var(--grey-color);
  transform: translateY(-1px);
}

.card-body {
  padding: 1rem;
}

.card-body a {
  color: var(--main-color);
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Rating */

.rating span {
  color: var(--gold-color);
  margin: 0.1rem;
}

.rating span:last-child {
  color: var(--dark-grey-color);
  margin-left: 1rem;
}

/* Alert */

.success {
  color: var(--success-color);
}

.danger {
  color: var(--danger-color);
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: var(--info-color);
  background-color: var(--info-background-color);
}

.alert-success {
  color: var(--success-color);
  background-color: var(--success-background-color);
}

.alert-danger {
  color: var(--danger-color);
  background-color: var(--danger-background-color);
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  z-index: 1;
  transition: all 0.3s ease-in;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Cart */

.cart-select {
  min-width: 60px;
}

.cart-price {
  min-width: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-basis-50 {
  flex-basis: 50px;
}

/* Checkout Steps */

.checkout-steps > div {
  flex: 1;
  padding: 1rem;
  color: var(--grey-color);
  border-top: 0.3rem var(--grey-color) solid;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: var(--orange-color);
  color: var(--orange-color);
}
